body {
	font: normal 14px arial, sans-serif
}

table {
	border-spacing: 2px;
	border: none;
}

table td {
	text-align: center;
}

a:link.ovalbutton,a:visited.ovalbutton,a:active.ovalbutton {
	color: #494949; /*button text color*/
	font-weight: bold;
}

a.ovalbutton span {
	background: transparent url('/images/oval-green-right.gif') no-repeat top
		right;
	display: block;
	padding: 4px 11px 4px 0;
	/*Set 11px below to match value of 'padding-left' value above*/
}

.clickable {
	cursor: pointer;
}

a.ovalbutton:hover { /* Hover state CSS */
	background-position: bottom left;
}

a.ovalbutton:hover span { /* Hover state CSS */
	background-position: bottom right;
	color: black;
}

a.ovalbutton {
	background: transparent url('/images/oval-green-left.gif') no-repeat top
		left;
	display: block;
	float: left;
	font: normal 13px Tahoma; /* Change 13px as desired */
	line-height: 16px;
	/* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
	height: 24px; /* Height of button background height */
	padding-left: 11px; /* Width of left menu image */
	text-decoration: none;
}

img.imgWaitAnim {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-25px;
	margin-left:-25px;
}

.hover, .hover input {
	background-color: darkgrey;
	background-position: 0 -102px;
	background-repeat: repeat-x;
	cursor: pointer;
}