@CHARSET "ISO-8859-1";

body {
	background-color: #ggg;
}

table {
	border-spacing: 0px;
	border-color: white;
}

.v_margin {
	margin: 5px 0px;
}

#topMenu {
	float: left;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	background-color: black;
	border-bottom-width: 10px;
	border-bottom: 1px solid grey;
	color: white;
}

#topMenu  a {
	margin: 5px 0 0 0;
	color: lightgrey;
	cursor: pointer;
	display: block;
	text-decoration: none !important;
}

.hover, .hover input {
	background-color: darkgrey;
	background-position: 0 -102px;
	background-repeat: repeat-x;
	cursor: pointer;
}

#topMenu .selected {
	border-top: 1px solid red;
	padding-bottom: 1px;
}

#content {
	position: relative;
	top: 30px;
	padding: 10px;
}

#header, #transactions #content {
	position: relative; width : 100%;
	border: 2px solid black;
	width: 100%;
}

#transactions #content {
	top: 0px;
	padding: 0px;
	margin: 5px 0px 0px 0px;
	overflow: scroll;
}

#header table, #transactions table {
	width: 100%;
}

#header table th, #transactions table th {
	border: 1px solid grey;
	background-color: #ddd;
}

a.ovalbutton {
	background: transparent url('/images/oval-green-left.gif') no-repeat top
		left;
	display: block;
	float: left;
	font: normal 13px Tahoma; /* Change 13px as desired */
	line-height: 16px;
	/* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
	height: 24px; /* Height of button background height */
	padding-left: 11px; /* Width of left menu image */
	text-decoration: none;
}

a:link.ovalbutton,a:visited.ovalbutton,a:active.ovalbutton {
	color: #494949; /*button text color*/
	font-weight: bold;
}

a.ovalbutton span {
	background: transparent url('/images/oval-green-right.gif') no-repeat top
		right;
	display: block;
	padding: 4px 11px 4px 0;
	/*Set 11px below to match value of 'padding-left' value above*/
}

a.clickable {
	cursor: pointer;
	font-weight: bold;
}

a.ovalbutton:hover { /* Hover state CSS */
	background-position: bottom left;
}

a.ovalbutton:hover span { /* Hover state CSS */
	background-position: bottom right;
	color: black;
}

.buttonwrapper {
	float: left;
	padding: 0 0 0 2px;
	vertical-align: baseline;
	text-align: -webkit-auto;
}

.button {
	float: left;
	height: 30px;
	padding: 0 10px 0 10px;
	vertical-align: baseline;
	text-align: -webkit-auto;
}

.float_r {
	float: right;
}

#addPersonForm, {
	border: 1px solid black;
}

.flatInput {
	background: white;
	border: 0px;
}

#transaction #content {
	text-align: center;
}

#dialog-modal {
	display: none;
}

.actions {
	display: none;
	position: absolute;
}

img.imgWaitAnim {
	position:absolute;
   top:50%;
   left:50%;
   margin-top:-25px;
   margin-left:-25px;
}

.ui-dialog .ui-dialog-content {
	padding: 0px;
}

#addBankAccountDiv {
	position: absolute;
	top: 7px;
	right: 8px;
	z-index: 1;
}
